@value makerLightPink from  '../../common/colors.css';

@value makerLightPink from  '../../common/colors.css';

.wrap {
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 22%;
    height: 445px;
  }

  .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  button {
    position: relative;
    height: 40px;
    width: 35%;
    border-radius: 15px;
    cursor: pointer;
    border: 3px solid black;
    background-color: white;
    left: 200px;
  }

  button:hover {
    background: makerLightPink;
  }

  .div1 {
    position: relative;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    left: 20px;
    top: 20px;
  }