@value makerWhite, makerGreen from '../../common/colors.css';

.footer {
  width: 100%;
  background-color: makerGreen;
  text-align: center;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.title {
  color: makerWhite;
}
